<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for user, details in users.items() %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ details['age'] }}</td>
                    <td>{{ details['country'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
