<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>Current time: {{ current_time }}</p>
    <ul>
        {% for user, details in users.items() %}
            <li>
                {% if user == name %}
                    {{ user }} is {{ details['age'] }} years old from {{ details['country'] }}. Special message for you!
                {% else %}
                    {{ user }} is {{ details['age'] }} years old from {{ details['country'] }}.
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
